html {
  background: url("../img/cobblestonebg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
}

body {
  /*font-family: 'robotoregular', sans-serif;*/
  color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/**********NAVIGATION*****************/

#navbar {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #D7AD3F;
  color: white;
  width: 100%;
  left: 0;
  top: 0;
  padding: 8px 15px;
  box-shadow: 0px 0px 20px 4px black;
}

#header-logo > h1 {
  height: 60px;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 6px 3px 10px black;
}

nav > span {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 12px;
}

nav > span:hover,
nav > span:active {
  cursor: pointer;
  border-style: none;
  color: #black;
}

/*****************MAIN BODY***************/

#faded-bg {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  min-height: 83vh;
}

main {
  margin: 0 auto;
  padding-top: 175px;
  width: 70%;
  background-color: #a9a9a9;
  min-height: 83vh;
  box-shadow: 0px 0px 20px 4px black;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #D7AD3F;
  text-align: center;
  height: 60vh;
}

#welcome > h1 {
  padding: 0;
  margin: 0;
  font-size: 100px;
  text-shadow: 6px 3px 10px black;
}

#welcome > h3 {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black
}

.columns {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 200px;
  width: 150px;
  background-color: white;
  margin-top: 100px;
}

#welcome-buttons  > div{
  display: inline-block;;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 12px;
  color: black;
  width: 200px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,.9);
}
#welcome-buttons  > div:hover {
  cursor: pointer;
}

button {
  font-size: 24px;
  margin: 20px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,.9);
}
button:hover {
  cursor: pointer;
}

input {
  width: 30%;
  font-size: 20px;
  height: 25px;
  width: 300px;
  border-radius: 7px;
  background-color: white;
  margin: 30px;
  text-align: center;
}



#register-form > form > button, #login-form > form > button {
  font-size: 45px;
}

#register-form, #login-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

label {
  font-size: 24px;
}

#register-form > input, #login-form > input {
  padding-bottom: 20px;
}

/************USER HOME*******************/

#user-home > h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 6px 3px 10px black;
}

#user-home {
  text-align: center;
  overflow: hidden;
}

#checkins {
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-right: 30px;
}

#no-beers {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: gray;
  border: 2px solid gray;
  border-radius: 12px;
}

/*.beer-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}*/

.beer {
  position: relative;
  float: left;
  background-color: #D7AD3F;
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 1px rgba(1,1,1,.7);
}

.beer > h3 {
  background-color: black;
}


















/**/
