<button ng-sref="search-beers"><- BACK</button>

<div ng-if="beerToPreview">
  <img ng-src="{{beerToPreview.beer.beer_label}}" alt="beer label" />
  <h3>{{beerToPreview.beer.beer_name}}</h3>
  <p>
    ABV {{beerToPreview.beer.beer_abv}}
  </p>
  <p>
    {{beerToPreview.beer.beer_style}}
  </p>
  <p>
    {{beerToPreview.beer.beer_description}}
  </p>
</div>

<form ng-submit="beerCheckIn(input)">
  <label>
    Add A Comment:
    <textarea ng-model="input.comment" rows="8" cols="40"></textarea>
  </label>
  <label>
    Rate this beer:
    <input ng-model="input.rating" type="range"  min="0" max="5" />
  </label>
</form>
